storing
.env
.trash
.tmb
.quarantine
- Theory
BackUp
Archives
Autosave
/bower
/yarner
node_modules
_mirrors_
_gsdata_
*_files
*.ffs_db
*.log
*.rdb
*.dll
*.svg
*.svgz
*.asar
*.pak
*.exe
*.exp
*.lib
*.pdb
*.bin
*.sys
*.dic
*.ibd
*.jar
*.MYD
*.MYI
*.sdi
*.tmp
*.mo
*.mhtml
*.wd3
*.download
*.7z
*.zip
*.dat
*.acfm
*.mmm
